{%extends 'base.html'%}
{%block content%}
<h1>Loops Stub</h1>

<div class="loop-div">
<h2>For Loop</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor error, necessitatibus perspiciatis eligendi ad voluptatibus earum adipisci dolorem repellat optio commodi. Fugiat, magnam quod soluta similique ipsa at ea iste.</p>
<div>
<hr>
<div class="loop-div">
<h2>While Loop</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa maxime quae iure a delectus itaque possimus, recusandae voluptate dolore culpa distinctio labore eveniet, cupiditate eaque rerum assumenda dolores, beatae aut!</p>
</div>
<hr>
<div class="loop-div">
<h2>Range</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam nam placeat iste quisquam aperiam eos quae, impedit ipsum? Nam perferendis ratione, tempore dolor veritatis aspernatur praesentium? Ipsam, corporis consequatur.</p>
</div>
{%endblock%}