{%extends 'base.html'%}
{%block content%}
<h1>Operators Stub</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis quas placeat corrupti repellat? Nostrum ratione debitis dolore aperiam impedit quis provident hic quidem tenetur dolor asperiores cumque, blanditiis reiciendis architecto?</p>

<form method="POST" action="/operators">
    <div>
        <label>Name</label>
        <input name="name" id="name" >
    </div>
    <div>
        <label>Description</label>
        <input name="description" id="name" >
    </div>
    <div>
        <label>Symbol</label>
        <input name="symbol" id="name" >
    </div>
     <div>
        <label>Uses</label>
        <input name="uses" id="name" >
    </div>
    <div>
        <label>Example</label>
        <input name="example" id="name" >
    </div>
    <input type="submit">


</form>

{%endblock%}